@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DC Cinematic Unniverse</h1>
    <p><strong>Name:</strong> Darshan Khanal</strong></p>
    <p>You are viewing this page in @DateTime.Now</p>
</div>
